<div class="alert alert-danger" role="alert">
        <%= error %>
      </div>

      <a class="btn btn-secondary btn-lg float-right back-button" href="/tickets" role="button">
            Back to home</a>

