<header>
    <div class = "jumbotron jumbotron-fluid">
        <div class = "container">
            <h1>Zendesk Mobile Ticket Viewer</h1>
            <hr class="my-4">
            <% if (typeof tickets != 'undefined') { %>
                <h3><%= first %> - <%= last %> of <%= totalTickets %> tickets</h3>
            <% } else if (typeof ticket != 'undefined') { %>

                <h3><% include ./status-subject.ejs %></h3>
                <h6 class = >Requested by <%= requester.name%></h6>

            <% } else { %>

                <h3> Something went wrong! </h3>

            <% } %>
        </div>
    </div>
</header>