<header>
    <div class = "jumbotron jumbotron-fluid">
        <div class = "container">
            <h1>Welcome to Mobile Ticket Viewer</h1>
            <h3><%= tickets.length %> total tickets</h3>
        </div>
    </div>
</header>