<div id="status-wrap">
<% if(ticket.status == "open"){ %>
    <span class="badge badge-danger"><%= ticket.status %></span>
<%} else if(ticket.status == "pending"){ %>
    <span class="badge badge-info"><%= ticket.status %></span>
<%} else if(ticket.status == "solved"){ %>
    <span class="badge badge-secondary"><%= ticket.status %></span>
<% } %>
<span><%= ticket.subject %></span>
</div>