<div class = "container">

    <% for(i=0; i< tickets.length; i++) { %>
        <div class = "card">
            <div class = "card-body">
                <%= tickets[i].subject %>
            </div>
        </div>
    <% } %>

   
</div>