<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<p>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zendesk tickets</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class = "container-fluid">
        <% include ./partials/header.ejs %>
        <% if (typeof error != 'undefined') { %>
        <% include ./partials/errors.ejs %>
        <% } else { %>
        <% include ./partials/tickets.ejs %>
        <% } %>
    </div>
</body>
<% include ./partials/scripts.ejs %>
</html>